/.vscode
/la_diam_backend/la_diam_backend/__pycache__
/la_diam_backend/la_diam_backend/__pycache__
/la_diam_backend/la_diam_backend/__pycache__
/la_diam_backend/la_diam_backend/__pycache__
la_diam_backend/pizzaria/__pycache__/views.cpython-313.pyc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Backend (Python/Django)
*.pyc
__pycache__/




# Editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project


# Miscellaneous
/settings.json